/* ------ Block_03 ------ */
.block_03 {
    background-image: url(../images/bg-footer-top-mobile.svg);
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-color: var(--very-dark-cyan); */
    background-color: red;
    padding-top: 50px;
    /* height: 840px; */
    color: var(--very-pale-blue);
}

.block_03 .inter{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    /* background-color: var(--very-dark-cyan); */
    background-color: goldenrod;
    height: 790px;
    /* height: 1px; */
}
/* 
.description_01 {
    margin-top: 140px;
    padding-left: 15px;
} */

/* .huddle img {
    height: 25px;
    width: 165px;
    filter: grayscale(100%) brightness(1000%) contrast(1000%);
} */
/* 
.maps {
    background-image: url(../images/icon-location.svg);
    background-size: 14px 19px;
    padding-right: 20px;
} */

/* .phone {
    background-image: url(../images/icon-phone.svg);
    background-size: 18px 20px;
} */

/* .email {
    background-image: url(../images/icon-email.svg);
    background-size: 22px 17px;
} */
/* 
.maps,
.phone,
.email {
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 40px;
    margin-top: 25px;
    line-height: 24px;
    font-size: 16px;
} */
/* 
.description_02 {
    margin-top: 60px;
} */

/* .description_03 {
    margin-top: 30px;
} */
/* 
.description_02,
.description_03 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 22px;
    padding-left: 15px;
} */

/* .description_02 a,
.description_03 a {
    text-decoration: none;
    color: var(--very-pale-cyan);
} */

/* .description_04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
} */

/* .social img {
    height: 32px;
    width: auto;
    margin-left: 5px;
} */

/* .description_04 p {
    font-size: 12px;
    margin-top: 25px;
} */