/* ------ Responsivo ------ */
@media only screen and (min-width: 600px) {

    /* ------ main ------ */
    .container {
        width: 1440px;
    }


    /* ------ button ------ */
    button {
        height: 80px;
        width: 400px;
        border-radius: 40px;
    }


    /* ------ Block_01 ------ */
    .block_01 {
        width: 1440px;
        height: 1544px;
    }


    /* ------ Header ------ */
    header {
        height: 196px;
    }

    header img {
        height: 38px;
        margin: 0px 80px;
    }

    header div {
        height: 40px;
        width: 138px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 36px;
        margin: 0px 62px;
    }


    /* ------ Build ------ */
    .build h1 {
        font-size: 46px;
        line-height: unset;
        padding: 0 220px;
        text-align: center;
        margin-top: 165px;
    }

    .build p {
        font-size: 20px;
        line-height: 38px;
        text-align: center;
        padding: 0 425px;
        margin-top: 32px;
    }

    .build img {
        height: auto;
        width: 1018px;
        margin-top: 120px;
    }


    /* ------ Score ------ */
    .score {
        flex-direction: row;
        justify-content: center;
        height: 380px;
        width: 1440px;
    }

    .score img {
        width: 45px;
        height: 45px;
    }

    .score div {
        padding: 0 170px;
    }

    .score span {
        font-size: 74px;
        margin-top: 20px;
    }

    .score p {
        font-size: 18px;
        margin-top: 45px;
    }


    /* ------ Block_02 ------ */
    .block_02 {
        height: 2310px;
        width: 1440px;
        margin-top: 50px;
        background-color: red;
    }

    .block_02 img {
        height: auto;
        width: 510px;
        margin-top: 70px;
    }

    .block_02 p {
        font-size: 22px;
        padding: 20px 0 0;
        text-align: left;
        line-height: 26px;
    }


    .inter {
        flex-direction: row-reverse;
        height: 530px;
    }

    .your .inter {
        height: 480px;
    }

    .grow {
        background-image: url(../images/bg-section-top-desktop-1.svg), url(../images/bg-section-bottom-desktop-1.svg);
        padding-top: 164px;
        padding-bottom: 138px;
    }

    .your {
        background-image: url(../images/bg-section-top-desktop-2.svg), url(../images/bg-section-bottom-desktop-2.svg);
        padding-top: 154px;
        padding-bottom: 135px;
    }

    .flowing {
        flex-direction: row;
        height: 685px;
    }


    h2,
    h3,
    h4 {
        font-size: 42px;
        text-align: left;
    }







    /* ------ Block_03 ------ */
    .block_03 {
        display: flex;
        flex-direction: row;
        height: 560px;
        width: 1440px;
    }

    .description_01 {
        margin-top: 190px;
        padding-left: 120px;
    }

    .description_01 img {
        height: 40px;
        width: 240px;
    }

    .maps {
        margin-top: 40px;
        width: 330px;
        padding-right: 0;
    }

    .description_02,
    .description_03,
    .description_04 {
        margin-top: 280px;
        padding: 0;
    }

    .description_02 {
        margin-left: 145px;
    }

    .description_03 {
        margin-left: 115px;
    }

    .description_04 {
        margin-left: 140px;
        align-items: flex-start;
    }

    .description_04 p {
        margin-top: 180px;
    }
}