/* ------ Responsivo ------ */
@media only screen and (min-width: 600px) {

    /* ------ main ------ */
    .container {
        width: 1440px;
    }


    /* ------ button ------ */
    button {
        height: 80px;
        width: 400px;
        border-radius: 40px;
    }


    /* ------ Block_01 ------ */
    .block_01 {
        width: 1440px;
        height: 1544px;
    }


    /* ------ Header ------ */
    header {
        height: 196px;
    }

    header img {
        height: 38px;
        margin: 0px 80px;
    }

    header div {
        height: 40px;
        width: 138px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 36px;
        margin: 0px 62px;
    }


    /* ------ Build ------ */
    .build h1 {
        font-size: 46px;
        line-height: unset;
        padding: 0 220px;
        text-align: center;
        margin-top: 165px;
    }

    .build p {
        font-size: 20px;
        line-height: 38px;
        text-align: center;
        padding: 0 425px;
        margin-top: 32px;
    }

    .build img {
        height: auto;
        width: 1018px;
        margin-top: 120px;
    }


    /* ------ Score ------ */
    .score {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* background-color: aquamarine; */
        height: 440px;
        width: 100vw;
    }

    .score img {
        width: 30px;
        height: 30px;
    }

    .score div {
        display: flex;
        flex-direction: column;
    }

    .score span {
        color: var(--very-dark-cyan);
        font-family: var(--font-Poppins);
        font-size: 60px;
        margin-top: 10px;
    }

    .score p {
        font-weight: var(--font-semi-bold);
        color: rgb(148, 148, 148);
        font-size: 14px;
        text-align: center;
        margin-top: 25px;
    }




    /* ------ Block_02 ------ */
    .block_02 {
        height: 1905px;
        width: 1440px;
    }

    .block_02 img {
        height: auto;
        width: 410px;
        padding: 55px 30px;
    }

    .block_02 p {
        font-size: 18px;
        padding: 20px 0 0;
        text-align: left;
        line-height: 26px;
    }

    .block_02 .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 505px;
        height: 135px;
        margin: 0 0 0 115px;
    }

    .grow,
    .flowing,
    .your {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 1230px;
        height: 440px;
    }

    .grow {
        margin-top: 160px;
    }

    .flowing {
        flex-direction: row;
    }

    .flowing .text {
        margin: 0 30px 0 0;
    }

    h2,
    h3,
    h4 {
        text-align: left;
        font-size: 30px;
    }

    /* ------ Float ------ */
    .float {
        justify-content: flex-start;
        width: 805px;
        height: 280px;
        top: 2440px;
    }

    h5 {
        font-size: 32px;
        margin-top: 75px;
    }

    /* ------ Block_03 ------ */
    .block_03 {
        display: flex;
        flex-direction: row;
        height: 560px;
        width: 1440px;
    }

    .description_01 {
        margin-top: 190px;
        padding-left: 120px;
    }

    .description_01 img {
        height: 40px;
        width: 240px;
    }

    .maps {
        margin-top: 40px;
        width: 330px;
        padding-right: 0;
    }

    .description_02,
    .description_03,
    .description_04 {
        margin-top: 280px;
        padding: 0;
    }

    .description_02 {
        margin-left: 145px;
    }

    .description_03 {
        margin-left: 115px;
    }

    .description_04 {
        margin-left: 140px;
        align-items: flex-start;
    }

    .description_04 p {
        margin-top: 180px;
    }
}